html,body{
    font-family: $font;
    font-size: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0; 
}
*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

section{
    width: 100%;
    position: relative;
}

.fbg{
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
*   Vertikalni centrovani pomoci flexbox
*
*/
.flex-container-vert {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
		
 
.flex-items-default {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
		
 .flex-item-1 {
    width: 300px;
    height: 250px;
}
	